#wrapper {
  transform: translate3d(0px);
  overflow: hidden;
  /* left: 0px;
  top: 0px;
  margin: 0px; */
  width: 100%;
  height: 810px;
  padding: 0px;
  box-sizing: border-box;
  /* max-width: 375px;
  max-height: 810px; */
  position: relative;
  background-color: #f8f8f8;
}

.item_1 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: orange;
}
.item_2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
}
.item_3 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: blue;
}

#fv_wap {
  position: relative;
  width: 55vw;
  height: 55vw;
  overflow: hidden;
  margin: 0 auto;
}
.fv_slide_1 {
  position: absolute;
  width: 100%;
  height: 55vw;
  top: 0;
  left: 0%;
}
.fv_slide_2 {
  position: absolute;
  width: 100%;
  height: 55vw;
  top: 0;
  right: 0;
  z-index: 1;
}
.fv_slide_left {
  /* background: #333; */
  z-index: 4;
}
.fv_slide_right {
  /* background: #ccc; */
  position: absolute;
  position: absolute;
  top: 80%;
  z-index: 3;
}

.fv_slide_top {
  transform: rotate(300deg);
  z-index: 2;
}
.fv_slide_bottom {
  position: absolute;
  top: 10%;
  right: 60%;
  transform: rotate(-300deg);
  z-index: 1;
}
.fv_slide_inner {
  display: block;
  height: 100%;
}
.fv_slide_fig {
  height: 100%;
}
.fv_slide_inner:hover img {
  filter: grayscale(0%);
}
.fv_slide_item_wap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.6s ease 0s;
}
.fv_slide_item {
  padding: 2% 5%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  color: #000;
  text-align: center;
  transition: all 0.6s ease 0s;
  font-size: 2vw;
}
.fv_slide_inner:hover .fv_slide_item {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1, 1.1);
}

/* ____________________________________________________________________ */

/* ________________________________________________________________________ */

.example {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  box-sizing: border-box;
}
